<!-- ================= FORM ================= -->
<section class="hero">
  <app-admin-nav></app-admin-nav>
  <div class="hero-content">
    <div class="hero-overline">Security Management</div>
    <h1 class="hero-title">Edit Security Staff</h1>

    <form class="resident-form" (ngSubmit)="updateSecurity()">

      <div class="form-group">
        <label>Name</label>
        <input type="text" [(ngModel)]="security.name" name="name" required>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" [(ngModel)]="security.email" name="email" required>
      </div>

      <div class="form-group">
        <label>Mobile No</label>
        <input type="tel" [(ngModel)]="security.mobile" name="mobile" required>
      </div>

      <div class="form-group">
        <label>Shift</label>
        <select [(ngModel)]="security.shift" name="shift" required>
          <option value="" disabled>Select Shift</option>
          <option *ngFor="let s of shifts" [value]="s">{{ s }}</option>
        </select>
      </div>

      <!-- CAMERA CAPTURE -->
      <h3>Capture Photo</h3>
      <div class="camera-box">
        <video #video autoplay playsinline></video>
        <canvas #canvas hidden></canvas>

        <div class="camera-actions">
          <button type="button" class="btn btn-camera" (click)="startCamera()">
            Start Camera
          </button>
          <button type="button" class="btn btn-capture" (click)="captureImage()">
            Capture Face
          </button>
        </div>
      </div>

      <!-- IMAGE PREVIEW -->
      <div *ngIf="imagePreview" class="image-preview">
        <img [src]="imagePreview" alt="Security Photo" class="preview-img">
      </div>


      <!-- UPDATE BUTTON -->
      <button type="submit" class="btn btn-yellow">
        Update Security
      </button>

    </form>
  </div>
</section>
