<section class="hero">
<app-admin-nav></app-admin-nav>
  <div class="hero-content">

    <div class="hero-overline">Notice Management</div>
    <h1 class="hero-title">Edit Notice</h1>

    <form class="resident-form" (ngSubmit)="updateNotice()">

      <div class="form-group">
        <label>Notice Title</label>
        <input type="text" [(ngModel)]="notice.title" name="title" required>
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea rows="4"
          [(ngModel)]="notice.description"
          name="description"
          required>
        </textarea>
      </div>

      <div class="form-group">
        <label>Date</label>
        <input type="date" [(ngModel)]="notice.date" name="date" required>
      </div>

      <div class="form-group">
        <label>Type</label>
        <select [(ngModel)]="notice.type" name="type">
          <option value="General">General</option>
          <option value="Urgent">Urgent</option>
          <option value="Maintenance">Maintenance</option>
        </select>
      </div>

      <button type="submit" class="btn btn-yellow">
        Update Notice
      </button>

    </form>

  </div>
</section>
