<!-- ================= FORM ================= -->

<section class="hero">
  <app-admin-nav></app-admin-nav>
  <div class="hero-content">

    <div class="hero-overline">Event Management</div>
    <h1 class="hero-title">Edit Event</h1>

    <form class="resident-form" (ngSubmit)="updateEvent()">

      <div class="form-group">
        <label>Event Title</label>
        <input type="text" [(ngModel)]="event.title" name="title" required>
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea rows="4" [(ngModel)]="event.description" name="description" required></textarea>
      </div>

      <div class="form-group">
        <label>Date</label>
          <input type="date" [(ngModel)]="event.date" name="date" required>
      </div>

      <div class="form-group">
        <label>Time</label>
        <input type="time" [(ngModel)]="event.time" name="time" required>
      </div>
      <!-- ===== VENUE ===== -->

      <div class="form-group">
        <label>Venue</label>

        <div class="radio-group venue-toggle">

          <label class="radio-card">
            <input
              type="radio"
              name="venueMode"
              value="manual"
              [checked]="venueMode === 'manual'"
              (change)="switchVenueMode('manual')"
            >
            <span></span>
            Enter Manually
          </label>

          <label class="radio-card">
            <input
              type="radio"
              name="venueMode"
              value="map"
              [checked]="venueMode === 'map'"
              (change)="switchVenueMode('map')"
            >
            <span></span>
            Pic From Map
          </label>

        </div>

        <!-- Manual -->
        <div *ngIf="venueMode === 'manual'">

          <input
            type="text"
            placeholder="Enter venue address"
            [(ngModel)]="event.venue.address"
            name="manualAddress"
            required
          >

        </div>

        <!-- Map -->
        <div *ngIf="venueMode === 'map'">

          <button
            type="button"
            class="btn btn-outline"
            (click)="openMap()">
            Open Google Maps
          </button>

          <input
            type="text"
            placeholder="Paste Google Maps link"
            [(ngModel)]="event.venue.mapUrl"
            name="mapUrl"
            (change)="extractAddress()"
          >

        </div>

      </div>

      <button type="submit" class="btn btn-yellow">
        Update Event
      </button>

    </form>

  </div>
</section>
