<app-admin-nav></app-admin-nav>

  <section class="hero">
  <div class="hero-content">
    <h1>All Complaints</h1>

    <div *ngIf="loading">Loading...</div>

    <div *ngFor="let c of complaints" class="card">

      <div class="header">
        <h3>{{ c.subject }}</h3>
        <span class="status" [ngClass]="getStatusClass(c.status)">
          {{ c.status }}
        </span>
      </div>

      <p><b>Name:</b> {{ c.name }}</p>
      <p><b>Email:</b> {{ c.email }}</p>
      <p><b>Category:</b> {{ c.category }}</p>
      <p>{{ c.description }}</p>

      <div class="actions">
        <span *ngIf="c.status !== 'Resolved'" (click)="resolveComplaint(c)">
          Resolve
        </span>
      </div>

  </div>
</div>
</section>
