<nav class="nav">
  <div class="logo-container">
    <img src="logo.jpg" class="logo-img" alt="Logo">
    <span class="logo-text">My Gate</span>
  </div>

  <ul class="nav-links">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/">About</a></li>

    <li class="dropdown">
      <a>Login</a>
      <ul class="dropdown-menu">
        <li><a routerLink="/resident-login">Resident</a></li>
        <li><a routerLink="/visitor-login">Visitor</a></li>
        <li><a routerLink="/security-login">Security</a></li>
        <li><a routerLink="/admin-login">Admin</a></li>
      </ul>
    </li>
  </ul>
</nav>


<section class="hero">
  <div class="hero-content">
    <div class="hero-overline">About Our Society</div>
    <h1 class="hero-title">Manage Your Residence Effortlessly</h1>
    <p class="hero-desc">Track visitors, residents, and admin actions all in one place.</p>
    <div class="hero-actions">
      <a routerLink="/resident-login" class="btn btn-yellow">Resident Login</a>
      <a routerLink="/admin-login" class="btn btn-outline">Admin Login</a>
    </div>
  </div>
</section>
