<app-resident-nav></app-resident-nav>
<section class="hero">

  <div class="hero-content">

    <h1 class="hero-title">My Complaints</h1>

    <div *ngIf="loading" class="loading">
      Loading complaints...
    </div>

    <div *ngIf="!loading && complaints.length === 0" class="no-data">
      No complaints found.
    </div>

    <div *ngFor="let complaint of complaints" class="hero-card">

      <div class="card-header">
        <h3>{{ complaint.subject }}</h3>
      </div>

      <p class="category">{{ complaint.category }}</p>

      <p class="description">
        {{ complaint.description }}
      </p>

      <div class="card-footer">
        <small>
          {{ complaint.createdAt | date:'medium' }}
        </small>
        <br/>
        <br/>
      <span [ngClass]="getStatusClass(complaint.status)">
          {{ complaint.status }}
        </span>
              <p *ngIf="complaint.responseMessage" class="response">
                <b>Admin Response:</b> {{ complaint.responseMessage }}
              </p>
</div>
    </div>

  </div>

</section>
