<!--================= NAVBAR =================-->
<nav class="nav">
  <div class="logo-container">
    <img src="logo.jpg" class="logo-img" alt="Logo">
    <span class="logo-text">My Gate</span>
  </div>

  <div class="hamburger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <ul class="nav-links" [class.active]="menuOpen">
    <li><a routerLink="/resident-home">Home</a></li>
    <li><a routerLink="/resident-about">About</a></li>

    <li class="dropdown">
      <a href="javascript:void(0)" (click)="toggleServices()">Services</a>
      <ul class="dropdown-menu" [class.open]="servicesOpen">
        <li class="dropdown-sub">
          <a href="javascript:void(0)" (click)="toggleComplaints()">Complaints</a>
          <ul class="dropdown-submenu" [class.open]="complaintsOpen">
            <li><a routerLink="/add-complaint">Add Complaint</a></li>
            <li><a routerLink="/list-complaints">My Complaints</a></li>
          </ul>
        </li>

        <li><a routerLink="/manage-visitor">Manage Visitors</a></li>
        <li><a routerLink="/list-event-resident">Events</a></li>
        <li><a routerLink="/list-notice-resident">Notices</a></li>
        <li><a routerLink="/parking">Parking</a></li>

        <li class="dropdown-sub">
          <a href="javascript:void(0)" (click)="toggleMaintenance()">Maintenance</a>
          <ul class="dropdown-submenu" [class.open]="maintenanceOpen">
            <li><a routerLink="/pay-maintenance">Pay Maintenance</a></li>
            <li><a routerLink="/maintenance-details">Maintenance Details</a></li>
          </ul>
        </li>
      </ul>
    </li>

    <li><a routerLink="/resident-profile">Profile</a></li>
    <li><a (click)="logout()">Logout</a></li>
  </ul>
</nav>



<section class="hero">

  <div class="hero-content">

    <h1>My Complaints</h1>

    <div *ngIf="loading" class="loading">
      Loading complaints...
    </div>

    <div *ngIf="!loading && complaints.length === 0" class="no-data">
      No complaints found.
    </div>

    <div *ngFor="let complaint of complaints" class="hero-card">

      <div class="card-header">
        <h3>{{ complaint.subject }}</h3>
      </div>

      <p class="category">{{ complaint.category }}</p>

      <p class="description">
        {{ complaint.description }}
      </p>

      <div class="card-footer">
        <small>
          {{ complaint.createdAt | date:'medium' }}
        </small>
        <br/>
        <br/>
      <span [ngClass]="getStatusClass(complaint.status)">
          {{ complaint.status }}
        </span>
              <p *ngIf="complaint.responseMessage" class="response">
                <b>Admin Response:</b> {{ complaint.responseMessage }}
              </p>
</div>
    </div>

  </div>

</section>
