/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('assets/images/bg1.png');
  background-size: cover;        /* image covers whole screen */
  background-repeat: no-repeat;  /* no repeating */
  background-position: center;   /* centered */
  background-attachment: fixed;  /* fixed background */
}
